.bg{
    background: url("https://media.istockphoto.com/photos/back-view-of-elementary-students-raising-their-hands-on-a-class-picture-id1223141903?b=1&k=20&m=1223141903&s=170667a&w=0&h=J4pKZivfi9cxeOd9upRIJo0qOVUJsnGVyc1ud96Q5LQ=");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;

}

.form-container{
    position:relative;
    justify-content: center;
    top:5vh;
    background:rgb(98, 3, 153);
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 1px #000;
    max-width: 500px;
}
